@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 60% 97%;
    --foreground: 155 30% 12%;

    --card: 0 0% 100%;
    --card-foreground: 155 30% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 155 30% 12%;

    --primary: 153 41% 18%;
    --primary-foreground: 0 0% 99%;

    --secondary: 148 25% 93%;
    --secondary-foreground: 153 41% 18%;

    --muted: 150 14% 94%;
    --muted-foreground: 153 8% 46%;

    --accent: 146 35% 91%;
    --accent-foreground: 153 41% 18%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 99%;

    --border: 150 18% 88%;
    --input: 150 18% 85%;
    --ring: 153 41% 28%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 153 10% 42%;
    --sidebar-primary: 153 41% 18%;
    --sidebar-primary-foreground: 0 0% 99%;
    --sidebar-accent: 148 32% 91%;
    --sidebar-accent-foreground: 153 41% 18%;
    --sidebar-border: 150 16% 90%;
    --sidebar-ring: 153 41% 28%;

    --chart-1: 153 41% 30%;
    --chart-2: 133 47% 50%;
    --chart-3: 146 47% 40%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
